/* BREAKPOINTS */

/* smallest */
@media only screen and (max-width: 576px) {
    .container{
        width: 100vw;
        height: fit-content;
        overflow-x: hidden;
        display: flex;
        flex-flow: column;
    }

    .column, #column3{
        width: 100vw;
        /* background-color: aqua; */
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10% 5%;
        /* border-bottom: 1px dashed rgb(187, 187, 187); */
        border-right: none;
    }

    .divider img{
        width: 80vw;
        height: auto;
    }

    .dull{
        opacity: 100%;
    }

    h1{
        font-size: 15px;
    }
}


@media only screen and (min-width: 578px) and (max-width: 992px) {
    
    .container{
        width: 100vw;
        height: fit-content;
        overflow-x: hidden;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .column, #column3{
        width: 50vw;
        /* background-color: aqua; */
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 5% 0%;
        /* border-bottom: 1px dashed rgb(187, 187, 187); */
        border-right: none;
    }

    .divider img{
        width: 50vw;
        height: auto;
    }

    .dull{
        opacity: 100%;
    }

    h1{
        font-size: 15px;
    }
}


@media only screen and (min-width: 993px) and (max-width: 1200px) {
    body{
        font-size: 14px;
        -webkit-text-stroke: 0.6px;
    }
    
    .container{
        width: 100vw;
        height: fit-content;
        overflow-x: hidden;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .column, #column3{
        width: 40vw;
        /* background-color: aqua; */
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 5% 0%;
        /* border-bottom: 1px dashed rgb(187, 187, 187); */
        border-right: none;
    }

    .divider img{
        width: 50vw;
        height: auto;
    }

    .dull{
        opacity: 100%;
    }

    h1{
        font-size: 16px;
    }

    h2{
        font-size: 15px;
    }

    .caption{
        font-size: 12px;
    }
}


@media only screen and (min-width: 1200px) {
    .hide{
       display: none;
    }
}