@import url("https://use.typekit.net/fko2cdd.css");

/* across pages */
body{
    overflow-x: hidden;
    box-sizing: border-box;
    color: black;
    margin: 0px;
    /* default font styling */
    font-family: source-serif-4-variable, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    letter-spacing: -0.005em;
    line-height: 125%;
}

.header{
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px dotted black;
    padding: 0vh 1vw 0vh 1vw;
    margin-bottom: 3vh;
}

.header a{
    all: unset;
    cursor: pointer;
}

#name{
    width: 20vw;
    margin-bottom: 0px;
}

.headerLinks {
    width:fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.headerLinks p{
    padding: 0vh 0vw 0vh 2vw;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-top: 1px dotted black;
    padding: 0vh 1vw 0vh 1vw;
    margin-top: 3vh;
}

.footer p{
    width: 50vw;
}

/* end across pages */

.work{
    width: 100vw;
    box-sizing: border-box;
    padding: 0vh 1vw 3vh 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2vh;
    cursor: url('assets/cursor.png'), ne-resize;
}

.work a{
    all: unset;
}

.work h1{
    font-size: 20px;
    letter-spacing: -0.005em;
    line-height: 110%;
    margin-bottom: -6px;
}

.work h2{
    font-size: 15px;
    font-style: italic;
    letter-spacing: -0.005em;
    line-height: 115%;
    margin-bottom: 4%;
}

.workCard{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0% 2% 2% 2%;
    border: 1px dotted black;
    height: fit-content;
}

img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

#thesis:hover{
    background-color: rgb(233, 255, 252);
}

#newswu:hover{
    background-color: rgb(230, 227, 255);
}

#home:hover{
    background-color: rgb(255, 253, 187);
}

#typeChoiceMatters:hover{
    background-color: rgb(176, 206, 163);
}

#nyrdrc:hover{
    background-color: rgb(240, 244, 255);
}

#relics:hover{
    background-color: rgb(255, 171, 255);
}


/* BREAKPOINTS */
/* x-small */
@media only screen and (max-width: 576px) {
    body{
        font-size: 12px;
        letter-spacing: -0.005em;
        line-height: 125%;
    }

    .header{
        padding: 0vh 3vw 0vh 3vw;
    }

    .work h1{
        font-size: 16px;
    }
    
    .work h2{
        font-size: 12px;
    }

    .work{
        grid-template-columns: 1fr;
        padding: 0vh 3vw 3vh 3vw;
        gap: 20px;
    }

    .footer p{
        width: 60vw;
    }
}

/* small */
@media only screen and (min-width: 576px) {
    .header{
        padding: 0vh 3vw 0vh 3vw;
    }

    .work{
        grid-template-columns: 1fr;
        padding: 0vh 3vw 3vh 3vw;
        gap: 2vh;
    }

    .footer p{
        width: 60vw;
    }
}

/* medium */
@media only screen and (min-width: 768px) {
    .header{
        padding: 0vh 2vw 0vh 2vw;
    }

    .work{
        grid-template-columns: 1fr 1fr;
        padding: 0vh 2vw 3vh 2vw;
        gap: 2vh;
    }

    .footer p{
        width: 45vw;
    }
}

/* large */
@media only screen and (min-width: 992px) {
    .header{
        padding: 0vh 1vw 0vh 1vw;
    }

    .work{
        grid-template-columns: 1fr 1fr;
        padding: 0vh 1vw 3vh 1vw;
        gap: 2vh;
    }

    .footer p{
        width: 80vw;
    }
}

/* x-large onwards*/
@media only screen and (min-width: 1200px) {
    .header{
        padding: 0vh 1vw 0vh 1vw;
    }

    .work{
        grid-template-columns: 1fr 1fr;
        padding: 0vh 1vw 3vh 1vw;
        gap: 2vh;
    }

    .footer p{
        width: 50vw;
    }
}