@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

body{
    color: rgb(31, 31, 31);
    background-color: whitesmoke;
    /* default font styling */
    font-family: "Libre Baskerville",'Times New Roman', Times, serif;
    font-size: 12px;
    -webkit-text-stroke: 0.5px;
    line-height: 135%;
    box-sizing: border-box;
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}

.column{
    width: 25vw;
    /* background-color: aqua; */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1%;
    border-right: 1px dashed rgb(187, 187, 187);
}

#column2, #column3, #column4{
    overflow: scroll;
}

#column4{
    width: 40vw;
}

.dull{
    opacity: 20%;
}

.dull:hover{
    opacity: 100%;
}

.image{
    margin:  15px 0px;
}

img{
    width: 100%;
    height: auto;
    filter: grayscale();
    opacity: 85%;
}

img:hover{
    filter: none;
    opacity: 100%;
}

.caption{
    /* font-family: Helvetica, sans-serif; */
    text-indent: 0%;
    font-size: 10px;
    line-height: 130%;
    font-style: italic;
    margin-top: 5px;
    color: gray;
    -webkit-text-stroke: 0.1px;
}

a{
    -webkit-text-stroke: 0.5px;
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

a:hover{
    text-decoration: underline;
    color: rgb(39, 64, 255);
}

h1{
    font-size: 12px;
    text-align: center;
    /* text-decoration: underline; */
    margin: 0px 0px 15px 0px;
}

h2{
    font-size: 12px;
    text-align: center;
    margin: 0px 0px 8px 0px;
    font-weight: 400;
    /* text-decoration: underline; */
    font-style: italic;
}

p{
    text-indent: 20px;
    /* background-color: aqua; */
    margin: 0px;
}
.noIndent{
    text-indent: 0px;
}

.noIndent p{
    text-indent: 0px;
}

.italics{
    font-style: italic;
}

ul{
    padding-left: 0%;
    list-style-type: none;
}

li{
    padding: 18px 0px;
    border-top: 1px dashed rgb(187, 187, 187);
}

#arenaContainer{
    margin-top: 20px;
}

#arenaContainer div{
    margin: 0px;
}

.arena{
    padding: 18px 0px;
    border-top: 1px dashed rgb(187, 187, 187);
}

li a {
    display: block;
    margin-top: 10px;
}

.noSpaceTop{
    padding-top: 0px;
    margin-top: 0px;
    border-top: none;
}