@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

body{
    font-family: 'Hedvig Letters Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: 100;
    color: #fffff5;
    background-color: #3d1027;
    box-sizing: border-box;
    margin: 0px;
    /* overflow-x: hidden; */
    width: 100vw;
    font-variant-ligatures: none;
}

.header{
    height: 100vh;
    padding: 2vh 1vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #3d1027;
    color: #e5c2f1;
    box-sizing: border-box;
    background-image: 
    url("sexworkerunions/bg.png");
    background-size: cover;
    background-blend-mode: screen;
    /* mix-blend-mode: screen; */
}

.main{
    width: 50%;
    height: fit-content;
}

.main h1{
    font-family: 'Della Respira', Georgia, 'Times New Roman', Times, serif;
    font-size: 6.25em;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.05em;
    letter-spacing: 1px;
    margin: 0%;
    padding-bottom: 2vh;
}

.main h2{
    font-size: 2.25em;
    line-height: 1.25em;
    margin: 0%;
    padding: 0%;
}

.header p{
    font-size: 1.25em;
    line-height: 1.4em;
    margin: 0%;
    padding: 0%;
}

.asterisk{
    width: 100%;
    height: fit-content;
    font-size: 30px;
    letter-spacing: 0.18vw;
}

.content{
    margin: auto;
    color: #3d1027;
    background-color: #fffff5;
    height: fit-content;
}

.content p{
    padding-bottom: 1vh;
}

.text{
    font-size: 1.1em;
    line-height: 1.5em;
    width: 40%;
    padding: 2vh 0vw 5vh 0vw;
    margin: auto;
}

.asset{
    width: 100%;
    box-sizing: border-box;
    
}

.asset img{
    width: 100%;
    height: fit-content;
}

.asset p{
    font-size: 0.8em;
    line-height: 1.35em;
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 0.1em 0em;
}

.footer{
    height: fit-content;
    padding: 2vh 1vw;
    color: #3d1027;
    background-color: #e5c2f1;
    box-sizing: border-box;
}

.footerText{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}

.footer h2{
    text-align: center;
    font-size: 1.25em;
    line-height: 1.35em;
}

.footer p{
    font-size: 0.9em;
    line-height: 1.45em;
}

.section{
    padding: 0vh 0vh 5vh 0vw;
    margin: 0%;
    width: 30%;
}

.name{
    font-size: 1.2em;
}

a {
    all: unset;
    background-color: #e5c2f1;
}

.footer a {
    all: unset;
    text-decoration: underline;
}

.footer a:hover{
    background-color: #3d1027;
    color: #e5c2f1;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    .header{
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        /* padding: 2vh 1vw;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: #3d1027;
        color: #e5c2f1;
        box-sizing: border-box;
        background-image: 
        url("sexworkerunions/bg.png");
        background-size: cover;
        background-blend-mode: screen; */
    }
    
    .main{
        width: 80%;
        height: fit-content;
    }
    
    .main h1{
        font-size: 3.25em;
    }
    
    .main h2{
        font-size: 1.5em;
    }
    
    .header p{
        font-size: 1.25em;
        line-height: 1.4em;
        margin: 0%;
        padding: 0%;
    }
    
    .content{
        margin: auto;
        color: #3d1027;
        background-color: #fffff5;
        height: fit-content;
    }
    
    .content p{
        padding-bottom: 1vh;
    }
    
    .text{
        font-size: 0.85em;
        line-height: 1.35em;
        width: 78%;
        padding: 2vh 0vw 5vh 0vw;
        margin: auto;
    }

    .asset img{
        width: 100%;
        height: fit-content;
    }
    
    .footer{
        height: fit-content;
        padding: 2vh 1vw;
        color: #3d1027;
        background-color: #e5c2f1;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    
    .footerText{
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    .footer h2{
        text-align: center;
        font-size: 1.25em;
        line-height: 1.35em;
    }
    
    .footer p{
        font-size: 0.85em;
        line-height: 1.35em;
    }
    
    .section{
        padding: 0vh 0vh 5vh 0vw;
        margin: 0%;
        width: 80%;
    }
    
    .name{
        font-size: 1.2em;
    }
    
    a {
        all: unset;
        background-color: #e5c2f1;
    }
    
    .footer a {
        all: unset;
        text-decoration: underline;
    }
    
    .footer a:hover{
        background-color: #3d1027;
        color: #e5c2f1;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */