@import url("https://use.typekit.net/fko2cdd.css");

/* across pages */
body{
    overflow-x: hidden;
    box-sizing: border-box;
    color: black;
    margin: 0px;
    /* default font styling */
    font-family: source-serif-4-variable, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    letter-spacing: -0.005em;
    line-height: 125%;
}

.header{
    width: 100%;
    display: flex;
    flex-flow: horizontal wrap;
    justify-content: space-between;
    border-bottom: 1px dotted black;
    padding: 0px 0px 0px 20px;
    margin-bottom: 3vh;
}

.header a{
    all: unset;
    cursor: pointer;
}

.headerLinks {
    width:fit-content;
    display: flex;
    flex-flow: horizontal wrap;
    padding: 0px 20px 0px 0px;
}

.headerLinks p{
    padding: 0px 20px 0px 0px;
}

.footer{
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-top: 1px dotted black;
    padding: 0px 20px 0px 20px;
    margin-top: 3vh;
}

.footer p{
    width: 50vw;
}

/* end across pages */

.workContainer{
    width: 100vw;
    box-sizing: border-box;
    padding: 0px 20px 50px 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.workContainer h1{
    font-size: 20px;
    letter-spacing: -0.005em;
    line-height: 110%;
}

.imagesList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.workImages img{
    width: 100%;
}

.nav{
    display: flex;
    flex-flow: row nowrap;
    padding: 0px 20px;
    justify-content: space-between;
}

.nav a{
    all: unset;
    cursor: pointer;
    width: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 10px;
    border: 1px dotted black;
}

.nav a:hover{
    width: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 10px;
    border: 1px dotted black;
    background-color: black;
}