@import url("https://use.typekit.net/fko2cdd.css");

/* across pages */
body{
    overflow-x: hidden;
    box-sizing: border-box;
    color: black;
    margin: 0px;
    /* default font styling */
    font-family: source-serif-4-variable, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    letter-spacing: -0.005em;
    line-height: 125%;
    min-height: 100vh;
}

.header{
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px dotted black;
    padding: 0vh 1vw 0vh 1vw;
    margin-bottom: 3vh;
}

.header a{
    all: unset;
    cursor: pointer;
}

#name{
    width: 20vw;
    margin-bottom: 0px;
}

.headerLinks {
    width:fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.headerLinks p{
    padding: 0vh 0vw 0vh 2vw;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-top: 1px dotted black;
    padding: 0vh 1vw 0vh 1vw;
    margin-top: 3vh;
}

.footer p{
    width: 50vw;
}

/* end across pages */

.workContainer{
    width: 100vw;
    box-sizing: border-box;
    padding: 0vh 1vw 4vh 1vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2vh;
}

.workContainer h1{
    font-size: 20px;
    letter-spacing: -0.005em;
    line-height: 110%;
}

.imagesList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    align-items: start;
}

.workImages{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.workImages img{
    width: 100%;
}

.nav{
    display: flex;
    flex-flow: row nowrap;
    padding: 0vh 1vw 0vh 1vw;
    justify-content: space-between;
}

.nav a{
    all: unset;
    cursor: pointer;
    width: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 10px;
    border: 1px dotted black;
}

.nav a:hover{
    width: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 10px;
    border: 1px dotted black;
    background-color: black;
}

video{
    width: 100%;
}

.aboutText a{
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}

#sunset{
    justify-content: center;
    width: 50vw;
    height: auto;
}

/* BREAKPOINTS */
/* x-small */
@media only screen and (max-width: 576px) {
    body{
        font-size: 12px;
        letter-spacing: -0.005em;
        line-height: 125%;
    }

    .header{
        padding: 0vh 3vw 0vh 3vw;
    }

    .workContainer{
        grid-template-columns: 1fr;
        padding: 0vh 3vw 4vh 3vw;
        gap: 2vh;
    }

    .imagesList{
        grid-template-columns: 1fr;
        gap: 2vh;
    }

    .workContainer h1{
        font-size: 16px;
    }
    
    .workContainer h2{
        font-size: 12px;
    }

    .nav{
        padding: 0vh 3vw 0vh 3vw;
    }

    .footer p{
        width: 60vw;
    }

    #sunset{
        width: 90vw;
    }
}

/* small */
@media only screen and (min-width: 576px) {
    .header{
        padding: 0vh 3vw 0vh 3vw;
    }

    .workContainer{
        grid-template-columns: 1fr;
        padding: 0vh 3vw 4vh 3vw;
        gap: 2vh;
    }

    .imagesList{
        grid-template-columns: 1fr;
        gap: 2vh;
    }

    .nav{
        padding: 0vh 3vw 0vh 3vw;
    }

    .footer p{
        width: 60vw;
    }

    #sunset{
        width: 90vw;
    }
}

/* medium */
@media only screen and (min-width: 768px) {
    .header{
        padding: 0vh 2vw 0vh 2vw;
    }

    .workContainer{
        grid-template-columns: 1fr;
        padding: 0vh 2vw 4vh 2vw;
        gap: 2vh;
    }

    .imagesList{
        grid-template-columns: 1fr 1fr;
        gap: 2vh;
    }

    .nav{
        padding: 0vh 2vw 0vh 2vw;
    }

    .footer p{
        width: 45vw;
    }

    #sunset{
        width: 90vw;
    }
}

/* large */
@media only screen and (min-width: 992px) {
    body{
        font-size: 12px;
    }

    .header{
        padding: 0vh 1vw 0vh 1vw;
    }

    .workContainer{
        grid-template-columns: 1fr 2fr;
        padding: 0vh 1vw 4vh 1vw;
        gap: 2vh;
    }

    .workContainer h1{
        font-size: 16px;
    }

    .imagesList{
        grid-template-columns: 1fr 1fr;
        gap: 2vh;
    }

    .nav{
        padding: 0vh 1vw 0vh 1vw;
    }

    .footer p{
        width: 80vw;
    }

    #sunset{
        width: 50vw;
    }
}

/* x-large onwards*/
@media only screen and (min-width: 1200px) {
    body{
        font-size: 14px;
    }

    .workContainer h1{
        font-size: 20px;
    }
    
    .header{
        padding: 0vh 1vw 0vh 1vw;
    }

    .workContainer{
        grid-template-columns: 1fr 3fr;
        padding: 0vh 1vw 4vh 1vw;
        gap: 2vh;
    }

    .nav{
        padding: 0vh 1vw 0vh 1vw;
    }

    .footer p{
        width: 50vw;
    }

    #sunset{
        width: 50vw;
    }
}